<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818089185381-on67ouo8uhse3gmj18d8m4qnpgjudh5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818089185381-on67ouo8uhse3gmj18d8m4qnpgjudh5m</string>
	<key>API_KEY</key>
	<string>AIzaSyDgzPnXI4Rs9uKzonRO1K1UqEW1OmAFWAk</string>
	<key>GCM_SENDER_ID</key>
	<string>818089185381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kosztid.OnlabCryptoApp</string>
	<key>PROJECT_ID</key>
	<string>onlabcryptoapp</string>
	<key>STORAGE_BUCKET</key>
	<string>onlabcryptoapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818089185381:ios:021c8535611f762697b68c</string>
</dict>
</plist>